#preview {
  background: transparent;
  height: calc(100% - 50px);
  left: 400px;
  position: fixed;
  top: 25px;
  width: calc(100% - 425px);
}

#preview > * {
  max-height: 100%;
  max-width: 100%;
}
